
<div class="element-wrapper">
  <h6 class="element-header">Merchants</h6>
  <div *ngIf="errorService.isSuccess" class="alert alert-success" role="alert" [innerHTML]=errorService.successMessage></div> 
  <div class="element-box">
    <div class="table-responsive">
      <div class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div id="dataTable1_filter" class="dataTables_filter">
              <label>
                Search:
                <input type="search" class="form-control form-control-sm" placeholder="Search merchants" 
                       [(ngModel)]="paginationService.searchQuery" #paginationService.searchQuery="ngModel" 
                       (search)="getListMerchants(null)" (keyup)="getListMerchants(null)">
              </label>
            </div>
          </div>
        </div>

        <div class="row" style="position: relative;margin-top: 40px;">
          <hr>
          <div class="col-sm-12 table-responsive">
            <table id="dataTable2" width="100%" class="table table-striped table-lightfont dataTable responsive-table" role="grid" aria-describedby="dataTable1_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th scope="col">
                    <!--Name-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('name', paginationService.sortDir, getListMerchants(null))">Name</a>
                      <i *ngIf="paginationService.sortField == 'name' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'name' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">
                    <!--Email-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('email', paginationService.sortDir, getListMerchants(null))">Email</a>
                      <i *ngIf="paginationService.sortField == 'email' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'email' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">
                    <!--Phone-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('phone', paginationService.sortDir, getListMerchants(null))">Phone</a>
                      <i *ngIf="paginationService.sortField == 'phone' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'phone' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">
                    <!--Phone-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('type', paginationService.sortDir, getListMerchants(null))">Type</a>
                      <i *ngIf="paginationService.sortField == 'type' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'type' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">
                    <!--Phone-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('dwl_status', paginationService.sortDir, getListMerchants(null))">Dwolla Status</a>
                      <i *ngIf="paginationService.sortField == 'dwl_status' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'dwl_status' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">
                    Bank
                  </th>
                  <th scope="col">
                    Plan
                  </th>
                  <th scope="col">
                    <!--Status-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('status', paginationService.sortDir, getListMerchants(null))">Status</a>
                      <i *ngIf="paginationService.sortField == 'status' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'status' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">
                    <!--Created-->
                    <a href="javascript:void(0);" (click)="paginationService.applySort('created_at', paginationService.sortDir, getListMerchants(null))">Created</a>
                      <i *ngIf="paginationService.sortField == 'created_at' && !paginationService.sortIcons"class="icon-feather-chevron-down"></i>
                      <i *ngIf="paginationService.sortField == 'created_at' && paginationService.sortIcons" class="icon-feather-chevron-up"></i>
                  </th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" *ngFor="let customer of listMerchants">
                  <td data-title="Name" scope="row">
                    {{customer.name || '&nbsp;'}}
                  </td>
                  <td data-title="Email">
                    {{customer.email || '&nbsp;'}}
                  </td>
                  <td data-title="Phone">
                    {{customer.phone || '&nbsp;'}}
                  </td>
                  <td data-title="Type">
                    {{customer.type || '&nbsp;'}}
                  </td>
                  <td data-title="Dwolla Status">
                    {{customer.dwl_status || '&nbsp;'}}
                  </td>
                  <td data-title="Bank">
                    {{customer.bank || '&nbsp;'}}
                  </td>
                  <td data-title="Plan">
                    {{getStatusPlanString(customer.plan_status || '&nbsp;')}}
                  </td>
                  <td data-title="Status">
                    <mat-slide-toggle
                      title="{{customer.status || '&nbsp;'}}"
                      class="adminStatus example-margin"                      
                      color="primary"
                      (change)="onToggleMerchantStatus($event, customer)"
                      [checked] = "customer.status == 'Active' ? true : false">
                    </mat-slide-toggle>
                  </td>
                  <td data-title="Created">
                    {{userService.getDateFormat(customer.created_at)}}
                  </td>
                  <td data-title="Action">
                    <a href="javascript:void(0);" (click)="userService.ghostLogin(customer.u_token)" title="Action" class="action-gost-login">
                      <i class="os-icon os-icon-user-male-circle"></i>
                    </a>
                    <a href="/merchants/{{customer.dwl_token}}/{{customer.u_token}}" style="margin-left: 8px;" class="action-edit-merchant">
                      <i class="picons-thin-icon-thin-0001_compose_write_pencil_new"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!paginationService.visiblePagination" class="ssg-nothing-found">
          <div class="icon-w">
            <i class="os-icon os-icon-eye-off"></i>
          </div>
          <span>No merchant were found...</span>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
              <div *ngIf="paginationService.visiblePagination" class="dataTables_info" id="dataTable1_info" role="status" aria-live="polite">
                <div class="showentries">Show entries</div>
                <ng-pagination 
                  [position]="'left'" 
                  [pageSize]="paginationService.pageSize"                     
                   [itemsCount]="paginationService.itemsCount"
                  (getPageData)="getListMerchants($event)">                      
                </ng-pagination>
                <!---->
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
