<div aria-hidden="true" class="password-setup-modal modal fade animated" role="dialog" tabindex="-1" 
     [ngClass]="{ 'show-on-load': isShowOnLoad() }">
  <div class="modal-dialog modal-centered" role="document">
    <div class="modal-content modal-blue-bg onboarding-content">
      <div class="modal-header" style="padding: 20px 0;">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" *ngIf="!canCloseModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" autocomplete="nope" (ngSubmit)="f.form.valid && setupPasswordPhoneRegister()" [formGroup]="setupPasswordForm"
            #f="ngForm" class="form-validation">
        <div class="modal-body">     
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12" style="margin-top:7px;">   
              <h4 class="modal-title text-center">Secure you Account</h4>
              <p class="text-center">
                Create a password, enter your mobile phone number, and click Send Verification Code. 
                Enter the four-digit code we sent to your phone.
              </p>
              <h6>Password Requirements:</h6>
              <ul>
                <li>Have at least 8 characters</li>
                <li>Have at least one lower case letter</li>
                <li>Have at least one capital letter</li>
                <li>Have at least one number</li>
              </ul>
            </div>
            <br>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{ 'has-error has-danger': setupPasswordForm.get('password').errors 
                   && (setupPasswordForm.get('password').dirty || setupPasswordForm.get('password').touched) }">
                   <label for="">Password</label>
                <input name="password" class="form-control" placeholder="Password" type="password" 
                       formControlName="password" required autocomplete="nope">                
                <!--<div class="pre-icon os-icon os-icon-fingerprint"></div>-->
                <div *ngIf="setupPasswordForm.get('password').errors &&
                  (setupPasswordForm.get('password').dirty || setupPasswordForm.get('password').touched)" 
                  class="help-block form-text with-errors form-control-feedback">
                  <span *ngIf="setupPasswordForm.get('password').errors.minLength">
                    Password must be at least 8 characters long.
                  </span>
                  <span *ngIf="setupPasswordForm.get('password').errors.required">
                    Password is required
                  </span>
                </div>
                <ng2-password-strength-bar
                  [passwordToCheck]="setupPasswordForm.value.password"
                  [barLabel]="barLabel"
                  [barColors]="myColors">
                </ng2-password-strength-bar>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{ 'has-error has-danger': setupPasswordForm.get('cpassword').errors 
                   && (setupPasswordForm.get('cpassword').dirty || setupPasswordForm.get('cpassword').touched) }">
                   <label for="">Confirm Password</label>
                <input name="cpassword" class="form-control" placeholder="Confirm Password" type="password" 
                       formControlName="cpassword" required autocomplete="off" validateEqual="password">
                <!--<div class="pre-icon os-icon os-icon-fingerprint"></div>-->
                <div *ngIf="setupPasswordForm.get('cpassword').errors &&
                  (setupPasswordForm.get('cpassword').dirty || setupPasswordForm.get('cpassword').touched)" 
                  class="help-block form-text with-errors form-control-feedback">
                  Password mismatch
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error has-danger': setupPasswordForm.get('phone').errors 
                 && (setupPasswordForm.get('phone').dirty || setupPasswordForm.get('phone').touched) }">
                 <label>Phone number</label>
              <input class="form-control" title="Phone number" placeholder="e.g.4897973417" type="text" name="phone" autocomplete="off"
                     formControlName="phone"
                     [textMask]="{mask: maskPhone}">
                     <div *ngIf="setupPasswordForm.get('phone').errors &&
                     (setupPasswordForm.get('phone').dirty || setupPasswordForm.get('phone').touched)" 
                     class="help-block form-text with-errors form-control-feedback">
                     <span *ngIf="setupPasswordForm.get('phone').errors.validPhone">
                  Phone must be at least 10 digits long.
                </span>
                <span *ngIf="setupPasswordForm.get('phone').errors.required">
                  Phone number is required
                </span>
              </div>
            </div>

            <button style="color: #1071ef;font-size: 12px;text-decoration: underline; padding-left: 0;" class="btn btn-link" type="button" (click)="sendVerifyCode(setupPasswordForm.get('phone').value)" [disabled]="setupPasswordForm.get('phone').errors">
              Send Verification Code
            </button> 
          </div>

          <!--<br><br>-->
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error has-danger': setupPasswordForm.get('phone_pin').errors 
                 && (setupPasswordForm.get('phone_pin').dirty || setupPasswordForm.get('phone_pin').touched)}"
                 [hidden]="!objDigitCheck.verifyCodeSend">
                 <label>Verification Code</label>
              <input class="form-control" title="Verification Code" placeholder="e.g.1234" type="text" name="phone_pin"
                     formControlName="phone_pin" required maxlength="4" minlength="4" appNumbers autocomplete="off">
              <div *ngIf="setupPasswordForm.get('phone_pin').errors &&
                (setupPasswordForm.get('phone_pin').dirty || setupPasswordForm.get('phone_pin').touched)" 
                class="help-block form-text with-errors form-control-feedback">
                <span *ngIf="setupPasswordForm.get('phone_pin').errors.required">
                  Verification Code is required
                </span>
                <span *ngIf="setupPasswordForm.get('phone_pin').errors.minlength">
                  Verification Code must be at least 4 digits long.
                </span>
              </div>
            </div>
            <button style="color: #1071ef; text-decoration: underline;font-size: 12px;padding: 0;" type="button" class="btn btn-link" (click)="sendVerifyCode(setupPasswordForm.get('phone').value)" *ngIf="objDigitCheck.verifyCodeSend">
              Re-send Code
            </button>
          </div> 

        </div>    
        <br>
        <div *ngIf="errorService.isError" class="alert alert-danger" role="alert" [innerHTML]=errorService.errorMessage></div>
        <div *ngIf="errorService.isSuccess" class="alert alert-success" role="alert" [innerHTML]=errorService.successMessage></div>
      </div>
      <br><br>
      <div class="modal-footer">
        <button aria-label="Close" class="slick-prev slick-arrow" data-dismiss="modal" type="button" >
          Create Password Later
        </button>

        <button [disabled]="loading || !setupPasswordForm.valid || setupPasswordForm.get('phone_pin').errors" class="slick-next slick-arrow">Submit & Verify</button>
      </div>
    </form>
  </div>
</div>
<!--</div>-->
</div>