<ng-progress color="purple" [thick]="true"></ng-progress>
<div class="all-wrapper menu-side with-pattern">
  <div class="auth-box-w">
    <div class="logo-w">
      <a href="/"><img alt="" src="assets/img/Paynote_-_New_Blue.svg"></a>
    </div>
    <div *ngIf="isFirstStep">
      <h4 class="auth-header">Create Password</h4>
      <form name="form2FA" (ngSubmit)="fResetPas.form.valid && createPassword()" #fResetPas="ngForm" autocomplete="off">
        <label style="font-size: 12px;" [innerHTML]="messages.get('CREATE_PASSWORD_PAGE_MESSAGE')" ></label>
        <br>
        <div [hidden]="!errorService.isSuccess" class="alert alert-success" role="alert" [innerHTML]=errorService.successMessage></div>
        <div class="form-group" [ngClass]="{ 'has-error has-danger': !emailPassword.valid && (emailPassword.dirty || emailPassword.touched) }">
             <label for="">Email</label>
          <input name="emailPassword" class="form-control" placeholder="Please enter email" type="email" 
                 [(ngModel)]="model.emailPassword" #emailPassword="ngModel" required>
          <div class="pre-icon os-icon os-icon-email-2-at"></div>
          <div *ngIf="!emailPassword.valid && (emailPassword.dirty || emailPassword.touched)" 
            class="help-block form-text with-errors form-control-feedback">Email is required</div>
        </div>
        <div class="buttons-w">
          <button [disabled]="loading || !fResetPas.form.valid" class="btn btn-primary btn-rounded btn-rounded-margin">Create Password</button>
          <br><br>
          <a class="strong" href="/login">Login</a>
        </div>
        <br>
        <div [hidden]="!errorService.isError" class="alert alert-danger" role="alert" [innerHTML]=errorService.errorMessage></div>
      </form>
    </div>
    <div *ngIf="isSecondStep">
      <h4 class="auth-header" style="margin-bottom: 0px;">Secure you Account</h4>
      <form name="form" autocomplete="nope" (ngSubmit)="f.form.valid && setupPasswordPhoneRegister()" #f="ngForm" class="form-validation">
        <label style="font-size: 12px; margin-bottom: 10px;" [innerHTML]="messages.get('CREATE_PASSWORD_SECURE_PAGE_MESSAGE')" ></label>
        <h6 style="font-size: 14px;">Password Requirements:</h6>
        <ul style="font-size: 13px;">
          <li>Have at least 8 characters</li>
          <li>Have at least one lower case letter</li>
          <li>Have at least one capital letter</li>
          <li>Have at least one number</li>
        </ul>
        <div class="form-group" [ngClass]="{'has-error has-danger': !password.valid && (password.dirty || password.touched) }"
             style="margin-bottom: 0px;">
          <label for="">Password</label>
          <input name="password" class="form-control" placeholder="Password" type="password" minlength="8" 
                 [(ngModel)]="setupPasswordForm.password" #password="ngModel" required autocomplete="nope">                
          <div class="pre-icon os-icon os-icon-fingerprint"></div>
          <div *ngIf="!password.valid && (password.dirty || password.touched)" 
              class="help-block form-text with-errors form-control-feedback">Password is required</div>
        </div>
        <ng2-password-strength-bar
          [passwordToCheck]="setupPasswordForm.password"
          [barLabel]="barLabel"
          [barColors]="myColors">
        </ng2-password-strength-bar>
        <br>
        <div class="form-group" [ngClass]="{ 'has-error has-danger': !cpassword.valid && (cpassword.dirty || cpassword.touched) }">
             <label for="">Confirm Password</label>
          <input name="cpassword" class="form-control" placeholder="Confirm Password" type="password" 
                 [(ngModel)]="setupPasswordForm.cpassword" #cpassword="ngModel" required autocomplete="off" validateEqual="password">
          <div class="pre-icon os-icon os-icon-fingerprint"></div>
          <div *ngIf="!cpassword.valid && (cpassword.dirty || cpassword.touched)" 
              class="help-block form-text with-errors form-control-feedback">Password mismatch</div>
        </div>

        <div class="form-group" style="margin-bottom: 0px;" [ngClass]="{ 'has-error has-danger': !phone.valid && (phone.dirty || phone.touched) }">
          <label>Phone number</label>
          <input class="form-control" minlength="10" title="Phone number" placeholder="e.g.4897973417" type="text" name="phone" 
                 autocomplete="off" [(ngModel)]="setupPasswordForm.phone" #phone="ngModel" [textMask]="{mask: utility.maskPhone}" required>
          <div class="pre-icon os-icon os-icon-phone"></div>
          <div *ngIf="!phone.valid && (phone.dirty || phone.touched)" 
              class="help-block form-text with-errors form-control-feedback">Phone must be at least 10 digits long.</div>
        </div>
        <button style="color: #1071ef;font-size: 12px;text-decoration: underline; padding-left: 0;" class="btn btn-link" 
                type="button" (click)="sendVerifyCode()" [disabled]="!phone.valid">
          Send Verification Code
        </button> 
        <br><br>
        <div class="form-group" [ngClass]="{ 'has-error has-danger': !phone_pin.valid && (phone_pin.dirty || phone_pin.touched) }"
             [hidden]="!setupPasswordForm.verifyCodeSend" style="margin-bottom: 0px;">
             <label>Verification Code</label>
          <input class="form-control" title="Verification Code" placeholder="e.g.1234" type="text" name="phone_pin"
                 [(ngModel)]="setupPasswordForm.phone_pin" #phone_pin="ngModel" required maxlength="4" minlength="4" 
                 appNumbers autocomplete="off" id="phone_pin">
          <div class="pre-icon"><i class="icon-feather-hash"></i></div>
          <div *ngIf="!phone_pin.valid && (phone_pin.dirty || phone_pin.touched)" 
              class="help-block form-text with-errors form-control-feedback">
              <span *ngIf="phone_pin.errors.required">
                Verification Code is required.
              </span>
              <span *ngIf="phone_pin.errors.minlength">
                Verification Code must be at least 4 digits long.
              </span>
          </div>
        </div>
        <button style="color: #1071ef; text-decoration: underline;font-size: 12px;padding: 0;" type="button" 
                class="btn btn-link" (click)="sendVerifyCode()" *ngIf="setupPasswordForm.verifyCodeSend">
          Re-send Code
        </button>
        <br><br>
        
        <div *ngIf="errorService.isError" class="alert alert-danger" role="alert" [innerHTML]=errorService.errorMessage></div>
        <div *ngIf="errorService.isSuccess" class="alert alert-success" role="alert" [innerHTML]=errorService.successMessage></div>

        <button [disabled]="loading || !f.form.valid" type="submit" class="btn btn-primary">Submit & Verify</button>
      </form>
    </div>
  </div>
</div>